body, html {
	background-color: #94d609;
	color: #004e72;
	margin: 0;
	padding: 0;
}

header {
	background-color: #94d609;
	height: 80px;
	text-align: center;
	margin-top: -22px;
}

button {
	display: block;
	margin: 0 auto 10px;
	text-align: center;
	width: 180px;
	height: 35px;
	background-color: #94d609;
	color: #004e72;
	border: none;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

button:hover {
	background-color: #71a108;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

footer {
	background-color: #94d609;
	height: 15%;
	text-align: center;
	margin-top: -22px;
	margin-bottom: -32px;
}

.container {
	display: flex;
	height: 60%;
}

.left, .right {
	flex: 1;
	padding: 20px;
	background-color: #eee;
}

h1 {
	
}

h2 {
	text-align: center;
	margin-top: 0px;
}

